{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "react": "preact-compat",
          "react-dom": "preact-compat"
        }
      }
    ],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
