:root {
  --black: #222;
  --green: #00e640;
  --font-mono: Courier, monospace;
  --vapor-pink: #ff71ce;
  --vapor-blue: #01cdfe;
  --vapor-green: #05ffa1;
  --vapor-purple: #b967ff;
  --vapor-yellow: #fffb96;
  --offBlue: #59abe3;

  --bgColor: var(--black);
  --fgColor: var(--green);
  --linkColor: var(--vapor-yellow);
  --accentColor: var(--vapor-blue);
  --font-family: var(--font-mono);
}
body {
  background: var(--bgColor);
  color: var(--fgColor);
  font-family: var(--font-family);
  font-size: 12px;
}

a,
a:hover,
a:link,
a:focus,
a:visited {
  color: var(--linkColor);
}
